html{
    scroll-behavior: smooth;
}
.jumbotron{
    height: 90vh;
    background-image: url(jumbotron.jpg);
    background-size: cover;
    background-position-y: center;
}






















.container2{
    text-align: center;
}